body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.content {
    background: gray;
    border: 1px solid black;
    margin: 5px;
}

header {
    flex-grow: 3;
}

#mainContent {
    display: flex;
    flex-grow: 12;
}

.tabletWrapper {
    display: flex;
    flex-grow: 6;
}

.aboutMe,
.experience {
    flex-grow: 1;
}

.skills {
    flex-grow: 1;
}

footer {
    flex-grow: 1;
}

@media (max-width: 768px) {
    section div.tabletWrapper {
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    #mainContent {
        flex-direction: column;
    }
}